[submodule "project/linkit7697_hdk/apps/fusion-tag"]
	path = project/linkit7697_hdk/apps/fusion-tag
	url = git@gitlab.com:ozgurkeles/fusion-tag.git
[submodule "project/linkit7697_hdk/apps/motion"]
	path = project/linkit7697_hdk/apps/motion
	url = git@gitlab.com:ozgurkeles/motion.git
